{
	"Dan McCracken" = "Dan.png";
	"Ron Sweeney" = "sweeneyface.png";
	"Joe Harnish" = "internet-explorer-logo.png";
	"Matthew Hassfurder" = "we_got_11.png";
	"Jeff Shields" = "jeffshields.JPG";
	"Sam Sherman" = "samsherman.jpg";
	"Rob Conley" = "rob.jpg";
	"Edwin Hartman" = "edwin.JPG";
	"Matthew Barr" = "matt.jpg";
	"Tiffany Raczynski" = "tiffany.JPG";
	"Sridhar Mandalapu" = "SridharMandalapu.jpg";
	"Sergey Stoma" = "Grr.jpg";
	"Jenny Clement" = "AllisonMarie.jpg";
}